.git
.github
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.env
.env.local
.env.*.local
docker-compose.yml
docker-compose.override.yml
*.md
phpunit.xml
.phpunit.result.cache
.editorconfig
.gitattributes
.gitignore
.npmrc
payments
